fastapi==0.115.6
uvicorn[standard]==0.34.0
pony==0.7.19
psycopg2-binary==2.9.10
python-decouple==3.8
bcrypt==4.2.1
httpx==0.28.1
python-multipart==0.0.20
discord.py==2.4.0
audioop-lts==0.2.1
email-validator==2.2.0
